<div>
    <p>You have received a quote request.</p>
    <br/>
    <br />
    <strong>Name:</strong>: {{NAME}}
    <br/>
    <strong>Email:</strong>: {{EMAIL}}
    <br/>
    <strong>Phone:</strong>: {{PHONE}}
    <br/>
    <strong>Project Type:</strong>: {{PROJECT_TYPE}}
    <br/>
    <strong>Language:</strong>: {{LANGUAGES}}
    <br />
    <strong>Word Count:</strong>: {{WORD_COUNT}}
    <br />
    <strong>Deadline:</strong>: {{DEADLINE}}
    <br />
    <strong>Details:</strong>:
    <br/>
    {{DETAILS}}
</div>
